.profile-container {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.profile-container-wrapper {
  width: 90%;
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
}

.profile-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.profile-left a {
  justify-content: center;
  align-items: center;
  font-style: none;
}

input[type="button"] {
  border: none;
  border-radius: 30px;
  padding: 1rem 2rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 300;
  transition: 0.3s;
}

input[type="button"]:hover {
  border: thin solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.profile-left h2 {
  width: 100%;
  display: flex;
  text-align: center;
  font-weight: 600;
  border: solid 1px var(--main-color);
  border-radius: 5px;
  font-size: 2em;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.profile-left p {
  font-size: 1.1em;
  line-height: 1.6em;
  color: #3f4848;
}

.profile-right {
  flex: 1;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.profile-right img {
  width: inherit;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .profile-container {
    padding: 0rem 10px;
    padding-top: 2rem;
  }
  .profile-container-wrapper {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
  .profile-left {
    padding: 1rem 0;
  }
}
