@import "../../index.css";

.skills-container {
  width: 100%;
  height: auto;
  background-color: var(--main-color);
  padding-bottom: 20px;
  transition: all 0.5s ease;
}

.skills-container h2 {
  width: 50%;
  display: flex;
  font-size: 2em;
  padding: 0.5rem;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skills-list-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.skills-list {
  display: grid;
  width: 80%;
  margin-top: 45px;
  align-items: center;
  list-style: none;
  padding: 0;
  transition: all 0.5s ease;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@media (max-width: 1000px) {
  .skills-list {
    width: 100%;
  }

  .skills-container h2 {
    width: 80%;
  }
}

.skills-list li {
  flex: auto;
  text-align: center;
  padding: 0 25px;
}

.skills-list li span {
  line-height: 50px;
  border-radius: 25px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  margin: 15px 0;
}

.skills-list li img {
  width: 100%;
  max-width: 100%;
  min-width: 100px;
  border-style: none;
	opacity: .9;
}
