/* Reseteo de los estilos */

:root {
	--main-color: #008037;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
	-webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
}

/* Estilos de la barra de scroll */
html::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
		background-color: transparent
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
html::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
